html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
  background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/ba66e1fe-02f6-4b7f-b45f-8458d1648d3f/nike-just-do-it.jpg');
    /* background-position: right; */
    background-size: cover;
}

.form-signin {
    padding: 15px;
    margin: auto;
    background: rgba( 64, 64, 64, 0.55 );
    color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
